.userTitle img{
    width: 100px ;
}

button.savechangeBtn{
    background-color: #51cbce;
}

button.savechangeBtn:hover{
    background-color: #3da0a1;
}

div.userInfo{
    height: fit-content;
    background-color: #f2f2f2;
    margin: 0px;
}

.userInfo .bgInfoImg{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.userInfo .firstCol .avatar{
    margin-top: -60%;
    width: 90px;
    height: 90px;
}

.userInfo .firstColInfo h3{
    color: #51cbce;
}

.userInfo form .ant-space.css-dev-only-do-not-override-1me4733.ant-space-horizontal.ant-space-align-center {
    float: right;
}

.inconInfo{
    width: 30px;
}

.avatar-uploader {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.activeImg{
    border: 3px solid black;
}