.logoIcon{
    width: 35px;
}

.btnCollapse{
    background-color: transparent;
    font-size: 20px;
}

.btnCollapse svg {
    margin-bottom: 8px;
}

#navigation{
    position: fixed;
    width: fit-content;
    height: 100%;   
    color: white !important;
    font-weight: bolder !important;
}

#navigation.lightTheme{
    background-color: #003262;
}

#navigation.darkTheme{
    background-color: rgb(24, 23, 23);
}

#navigation #menu {
    height: 75%;
}

#navigation #menu nav{
    height: 100%;
    justify-content: flex-start;
}

#navigation .menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.menuList {
    padding: 10px 0px 10px 15px;
}

#navigation .menu ul li.active div.darkTheme{
    background-color: #6C7375;
    border-left: 5px solid #76bbd2;
}

#navigation .menu ul li.active div.lightTheme{
    background-color: #009DC5;
    border-left: 5px solid yellowgreen;
}

#navigation .menu ul li.active div.lightTheme a{
    color:#003737 !important;
}

#navigation .menu ul li.active div.darkTheme a{
    color:#0d1317 !important;
}

#navigation .menu ul li div>a{
    color: white !important;
}

img.logIn{
    width: 30px;
   }

img.logOut{
 width: 30px;
 transform: scaleX(-1);
}

hr {
    color: white !important;
    margin: 0px;
    border-top: 1px solid;
    opacity: 1;
    width: 100%;
}

button.ant-switch-checked{
    background-color: black !important;
}

#innerContent{
    height: 100%;
}

#innerContent.darkTheme{
    background-color: #353839;
    color: white !important;
}

#innerContent.darkTheme table{
    background-color: #91a9b2;
    /* color: white !important; */
    border-radius: 10px;
}

#innerContent.lightTheme{
    background-color: white;
    color: black;
}

/* Pagination */
#innerContent.darkTheme ul.ant-pagination{
    color: white;
}

#innerContent.darkTheme li.ant-pagination-item-active {
    color: black;
    border: none;
}

#innerContent.darkTheme button.ant-pagination-item-link {
    color: white !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }

    .logoIcon{
        width: 20px;
    }

    #menu .logo{
        font-size: 12px !important;
    }

    #navigation .menu ul li{
        padding: 10px 0px 10px 9px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #menu .logo{
        font-size: 25px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #menu .logo{
        font-size: 25px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #menu .logo{
        font-size: 25px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #menu .logo{
        font-size: 25px !important;
    }
}