.btnCollapse{
    background-color: transparent;
    font-size: 20px;
    color: #66615b;
}

.btnCollapse svg {
    margin-bottom: 8px;
}

div.menuList {
    padding: 10px 0px 10px 15px;
}

li.active{
    background-color: #51cbce;
    border-left: 3px solid #ef8157;
}

li.active a{
    color: black !important;
    font-weight: bolder;
}

button.ant-switch-checked{
    background-color: black !important;
}

.logInTitle{
    color: rgba(255, 255, 255, 0.5) !important;
}

.logOutTitle{
    color: #ef8157 !important;
}

.titleActive{
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
}

a.dropdown-item.nav-link.fw-lighter.logOutTitle.pt-2 {
    color: grey !important;
    padding: 0px !important;
}

.avatarNavBar svg {
    margin-top: -10px;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.dropDownLogOut.css-dev-only-do-not-override-1me4733{
    position: fixed !important;
    right: 2.4%;
}

:where(.css-dev-only-do-not-override-1me4733).ant-dropdown {
    /* position: static !important;  */
    top: 44px !important;
    right: 0px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .titleActive {
        display: none;
    }

    input{
        font-size: 14px !important;
    }

    .userInfo>div.col-lg-4.col-sm-11.border-0.bg-white.mt-lg-4.mt-sm-3.me-lg-4.rounded-4.p-0 {
        margin: 10px 0px !important;
    }

    div.userInfo {
        margin: 0px 10px 10px 10px;
    }

    .addUser {
        margin-top: 15px;
        width: 25px;
    }

    .barChart{
        margin-bottom: 0px !important;
    }
}

/* Galaxy Fold + iphone SE*/
@media only screen and (min-width: 280px) and (max-width: 600px) {
    .card-item {
        height: 200px;
    }

    .avatarUserChosen {
        margin-top: -60%;
    }

    .modalSeeInfo .ant-modal-content {
        top: 10px;
    }

    input.form-control.border.border-2.rounded-3.px-4.py-1.ms-3 {
        width: 93%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)  {
    .barChart{
        margin-bottom: 60px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.userInfo {
        margin: -15px 0px 0px 0px;
    }

    .barChart .chartContent{
        height: 350px;
    }

    .barChart{
        margin-bottom: 75px !important;
    }    
}

/* Medium devices (912px and up) */
@media only screen and (min-width: 912px) and (max-width: 992px) {
    .barChart{
        margin-bottom: 150px !important;
    }    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .barChart .chartBody{
        height: 100%;
    }

    .barChart{
        margin-bottom: 0px !important;
    }

    .card-item div {
        font-size: 14px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sb-sidenav-toggled .barChart canvas{
        position: relative;
        left: 10%;
    }
}

