.allAcountContent{
    height: -webkit-fill-available;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.searchForm{
    width: 45%;
    background-color: hsla(0, 0%, 87%, 0.689);
}

input#search {
    background-color: hsla(0, 0%, 90%, 0.516);
    width: 90%;
}

.searchForm button{
    background-color: transparent;
    color: grey;
}

table.allEmployees{
    width: 100%;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

th>p{
    color: #51cbce !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: lightgrey !important;
}

.allAcountContent ul.ant-pagination.text-center.pb-2.paginateBar.css-dev-only-do-not-override-1me4733 {
    background-color: #f2f2f2 !important;
}

.accountTable{
    background-color: #f2f2f2
}

.avatarUserChosen{
    margin-top: -80%;
    width: 80px !important;
    height: 90px !important;
}

.okBtnModal{
    background-color: lightgrey;
    border: 0px;
    color: white;
    padding: 0px 30px;
}

.okBtnModal:hover{
    background-color: rgb(135, 133, 133);
    color: white !important;
}

.modalIcon {
    width: 40px;
    margin-bottom: -20px;
    color: #51cbce;
}

.avatarAllAccount{
    width: 40px !important;
    height: 40px !important;
    margin-bottom: -10%;
}

.avatarRow{
    padding-top: 3px !important;
}