.searchForm button{
    background-color: transparent;
}

table.allEmployees{
    width: 100%;
    background-color: white;
}

table.allEmployees th:nth-child(odd){
    width: 20%;
}

table.allEmployees th:nth-child(even){
    width: 30%;
}

.paginateBar{
    transform: translateX(-2%);
}