.searchForm button{
    background-color: transparent;
}
.content{
    background-color: aliceblue;
}

table.allEmployees{
    width: 100%;
    background-color: white;
}

table.allEmployees th:nth-child(odd){
    width: 20%;
}

table.allEmployees th:nth-child(even){
    width: 30%;
}