.allAcountContent{
    height: -webkit-fill-available;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.searchForm{
    width: 45%;
    background-color: hsla(0, 0%, 87%, 0.689);
}

input#search {
    background-color: hsla(0, 0%, 90%, 0.516);
    width: 90%;
}

.searchForm button{
    background-color: transparent;
    color: grey;
}

table.allEmployees{
    width: 100%;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

/* table.allEmployees th:nth-child(odd){
    width: 20%;
}

table.allEmployees th:nth-child(even){
    width: 30%;
} */

th>p{
    color: #51cbce !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: lightgrey !important;
}

.allAcountContent ul.ant-pagination.text-center.pb-2.paginateBar.css-dev-only-do-not-override-1me4733 {
    background-color: #f2f2f2 !important;
}

